{
  "parserOptions": {
    "ecmaVersion": 6,
    "sourceType": "module"
  },
  "rules":{
    // 0 - "off"; 1 - "warn"; 2 - "error"
    "camelcase": "warn",
    "comma-dangle": "warn",
    "quotes": ["warn", "single"],
    "no-compare-neg-zero": "warn",
    "no-console": "off",
    "no-dupe-args": "warn",
    "no-dupe-keys": "warn",
    "no-duplicate-case": "warn",
    "no-empty": "warn",
    "no-extra-semi": "warn",
    "no-irregular-whitespace": "warn",
    "no-regex-spaces": "warn",
    "no-unreachable": "warn",
    "block-scoped-var": "warn",
    "eqeqeq": "warn",
    "no-alert": "warn",
    "no-empty-function": "warn",
    "no-multi-spaces": "warn",
    "no-multi-str": "warn",
    "no-redeclare": "warn",
    "no-useless-return": "warn",
    "vars-on-top": "warn",
    "strict": ["error", "global"],
    "no-unused-vars": "warn",
    "no-use-before-define": "warn",
    "array-bracket-spacing": ["error", "never"],
    "block-spacing": "warn",
    "brace-style": "error",
    //"comma-dangle": ["error", "never"],
    "comma-spacing": ["error", { "before": false, "after": true }],
    "comma-style": ["error", "last"],
    "computed-property-spacing": ["error", "never"],
    "eol-last": ["warn", "always"],
    "indent": ["warn", 2],
    "no-mixed-spaces-and-tabs": "error",
    "no-multiple-empty-lines": "error",
    "no-trailing-spaces": "warn",
    "no-unneeded-ternary": "warn",
    "no-whitespace-before-property": "error",
    "sort-keys": "warn",
    "sort-vars": "warn",
    "spaced-comment": ["warn", "always"],
    "arrow-spacing": "warn",
    "no-var": "warn",
    "sort-imports": ["warn", { "ignoreCase": true }]
  }
}
